<h1>Stephen Covey's Time Management Matrix</h1>

<br/>
<br/>

<div text-align: center; class="container"> 
    
    <div class="row">
        <div class="col-2"></div>
        <div style="border: 2px solid black; padding: 10px;" class="col-5">
            <h2>Urgent</h2>
        </div>
        <div style="border: 2px solid black; padding: 10px;" class="col-5">
            <h2>Not Urgent</h2>
        </div>
    </div>
    
    <div class="row">
        <div style="border: 2px solid black; padding: 10px;" class="col-2">
            <h2>Important</h2>
        </div>
        <div style="border: 2px solid black; padding: 10px;" class="col-5">
            <h5>Quadrant 1</h5>
        </div>
        <div style="border: 2px solid black; padding: 10px;" class="col-5">
            <h5>Quadrant 2</h5>
        </div>
    </div>

    <div class="row">
        <div style="border: 2px solid black; padding: 10px;" class="col-2">
            <h2>Not Important</h2>
        </div>
        <div style="border: 2px solid black; padding: 10px;" class="col-5">
            <h5>Quadrant 3</h5>
        </div>
        <div style="border: 2px solid black; padding: 10px;" class="col-5">
            <h5>Quadrant 4</h5>
        </div>
    </div>
    
</div>