html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  color: #06357a;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #06357a;
}

h5 {
  text-align: center;
  margin-bottom: 30px;
}

p {
  text-align: center;
}

.container {
  background-color: #fcfaf8;
  padding: 20px;
  border-radius: 10px;
}

.custom-btn {
  background-color: #06357a; /* Green */
  color: white; /* White text */
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px; /* Optional: Rounded corners */
  transition: background 0.3s ease;
}

.custom-btn:hover {
  background-color: #0077cc; /* Darker green on hover */
  color: #ffffff;
}

